$font-stack: 'Montserrat', sans-serif;
$background-middle: linear-gradient(to top, rgb(136, 185, 250), rgb(207, 159, 247), rgb(252, 172, 232), rgb(252, 192, 143), white);
$bright-orange: rgb(250, 105, 8);
$medium-purple: rgb(160, 57, 245);
$light-grey: rgb(226, 225, 225);
$light-red: rgb(253, 205, 205);
$dark-red: rgb(212, 1, 1);