.forms {
    display: flex;
    flex-direction: column;
    background: $background-white-boxes;
    border-radius: 10px;
    width: 90%;
    max-width: 300px;
    height: 45vh;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        padding: 2.5em 3em 3em 3em;

        .row {
            display: flex;
            flex-direction: column;
            width: 100%;
            // padding-bottom: 2em;
    
            label {
                font-size: 1.7em;
                padding-bottom: .5em;
                // padding-top: .5em;
            }
    
            input {
                font-family: $font-stack;
                font-size: 1.5em;
                padding: .5em .3em;
                width: 100%;
                border-radius: 5px;
                background: white;
                border: none;
            }
        }

        .button-1 {
            font-size: 1.4em;
            letter-spacing: .1em;
            text-transform: uppercase;
            align-self: center;
            // margin-left: 31%;
        }
    }

    
}

.error-div{
    background: $light-red;
    padding: 1em;
    border: 1px solid $dark-red;
    font-size: 1.5em;
    display: none;
}