<div class="content">
    <div class="index-page-container">
        <h1 id="main-title">Hello from Handlebars</h1>

        {{#if user}}
        <p><a href="/portal">Portal access</a></p>
        {{else}}
        {{!-- <p>you need to loginnnnnnnn</p> --}}
        <section class="index-user-choice">
            <div>
                <h2>Already have an account?</h2>
                <button class="button-1" style="display: inline-block;"><a href="/login" >Login</a></button> 
            </div>
            <div>
                <h2>Not a member?</h2>
                <button class="button-1" style="display: inline-block;"><a href="/signup" >Sign Up</a></button>
            </div>
        </section>
        
        {{/if}}
    </div>
</div>


{{#section 'script'}}

<script type="text/javascript">
    if(document.cookie !== 'undefined') {
       const openMobileMenuBtn = document.getElementById('hamburger-menu');
        const closeMobileMenuBtn = document.getElementById('close-hamburger');
        const mobileMenu = document.getElementById('mobile-menu-list');

        openMobileMenuBtn.addEventListener('click', toggleMenu);
        closeMobileMenuBtn.addEventListener('click', toggleMenu);

        function toggleMenu() {
            console.log('toggle')
            openMobileMenuBtn.classList.toggle('open');
            closeMobileMenuBtn.classList.toggle('close');
            mobileMenu.classList.toggle('show');
        }
   }
</script>

{{/section}}
