<div class="content">
    <div class="portal-page-container">
        <h1>Welcome to your portal</h1>
        <div class="all-videos">
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/-5CdAup0o-I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/W86cTIoMv2U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5Dbvd4E-334" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/FHH6hIc2GyE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}

<script type="text/javascript">

// add an if statment for error the buttons being already declared while they're not on the screen
   if(document.cookie !== 'undefined') {
       const openMobileMenuBtn = document.getElementById('hamburger-menu');
        const closeMobileMenuBtn = document.getElementById('close-hamburger');
        const mobileMenu = document.getElementById('mobile-menu-list');

        openMobileMenuBtn.addEventListener('click', toggleMenu);
        closeMobileMenuBtn.addEventListener('click', toggleMenu);

        function toggleMenu() {
            console.log('toggle')
            openMobileMenuBtn.classList.toggle('open');
            closeMobileMenuBtn.classList.toggle('close');
            mobileMenu.classList.toggle('show');
        }
   }
        
 
</script>

{{/section}}