<div class="signup-div forms">
    <div class="error-div"></div>
    <form class="signup-form">
        <div class="signup-username form-row-1">
            <label for="username-su">Username</label>
            <input type="text" id="username-su" placeholder="Username" name="username" required>
        </div>
        <div class="signup-email form-row-2">
            <label for="email-su">Email</label>
            <input type="email" id="email-su" placeholder="Email" name="email" required>
        </div>
        <div class="signup-password form-row-3">
            <label for="password-su">Password</label>
            <input type="password" id="password-su" placeholder="Password" name="password" required>
        </div>
        <input class="submit-signup" type="submit" value="Sign Up">
    </form>
</div>

{{#section 'script'}}
 
<script>

    const submitSignup = document.getElementsByClassName('submit-signup')[0];
    const signupForm = document.querySelector('.signup-form');
    const errorDiv = document.getElementsByClassName('error-div')[0];

    errorDiv.innerText = '';

    signupForm.addEventListener('submit', userSignup);

    async function userSignup(e) {
        e.preventDefault();
        const usernameField = signupForm.username.value;
        const emailField = signupForm.email.value;
        const passwordField = signupForm.password.value;

        try {
            const postSignup = await fetch('/signup', {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ username: usernameField, email: emailField, password: passwordField }),
            });
            const content = await postSignup.json();
            
            console.log(content);

            if (content.user) {
                location.assign('/portal');
            }
            if (content.error) {
                errorDiv.innerText = content.error;
            }
        }
        catch (err) {
            console.log(err)
        }
    }

</script>

{{/section}}